<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- 我是注释
    模板变量有两对大括号组成，中间放我们的变量名
    e.g. {{ title }}
    模板变量可以是一个普通变量、列表、字典、对象的属性、对象的方法（方法没有参数有确定的返回值）、
     -->
</head>
<body>
<h1>Hello {{ user.name }}</h1>  <!-- 引用user字典中的name -->
<li>age:{{ user.age }}</li>
<li>sex:{{ user.sex }}</li>

<div>the {{ user.name }} say : {{ user.say }}</div>

<li>{{ book_list.0 }}</li>
<li>{{ book_list.1 }}</li>
<li>{{ book_list.2 }}</li>
<li>{{ book_list.3 }}</li>


<!-- 模板标签 Tags-->
<!--
 格式：{% xxxxxx %}
-->
<!-- if 标签 -->
<div>下面演示 if 模板标签</div>
{% if user.a %} <!-- 如果user.a变量存在的话-->
    <li>name : {{ user.name }}</li>
{% else %}
    用户不存在
{% endif %}


<!-- for 标签 -->
<div>下面演示 for 列表 模板标签</div>
{% for book in book_list %}
    <li>{{ book }}</li>
{% endfor %}

<div>下面演示 for 字典 模板标签</div>
{% for k,v in user_dict.items %}    <!-- 字典.items 返回一个包含字典中键、值对元组的列表 -->
    <li>{{ forloop.counter }}.{{ k }} : {{ v }}</li>
    <!-- forloop的counter方法返回元素的位置（默认从1开始） -->
{% endfor %}

id : {{ id }}
</body>
</html>